.callout-top {
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background-color: #fff;
    border-top: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
}

.callout-top.callout-top-danger {
    border-top-color: #bd2130;
}

.active .page-link {
    background-color: #dc3545!important;
    border: 1px solid #dc3545 !important;
    outline: none;
    box-shadow: none;
}

.disabled .page-link {
    outline: none;
    box-shadow: none;
}